<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div class="con">
<as-split direction="horizontal" [unit]="'percent'" [gutterSize]="8">
<as-split-area [size]="30">
Left Panel Content
<div class="my-form">
  <div class="form-item"></div>
  <div class="form-item"></div>
  <div class="form-item"></div>
</div>
<div class="my-form">
  <div class="form-item"></div>
  <div class="form-item"></div>
  <div class="form-item"></div>
  <div class="form-item"></div>
</div>
</as-split-area>
<as-split-area [size]="70">
Right Panel Content
</as-split-area>
</as-split>
</div>
